body{
    font-family: "Patrick Hand", cursive;

    ;
}
.btn-color{
    width: 100px;
    color: white;
    max-width: 100%;
    border: none;
}
.nightbtn{
    background-color: blueviolet;
}
h1 {
    font-size: 35px;
    font-weight: 100;
    line-height: 28px;
    
  }
  ul{
      margin: 0;
      padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
  }
  .weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background-image: linear-gradient(#f33939, #f4f493);
    
  }
  .nightbackground{
    background: rgb(2,0,36);
    background: linear-gradient( rgb(8, 4, 87) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #dadde1;
  }
  .degree{
      text-align: center;

  }
  h5{
      font-size: 100px;
      padding: 10px;
      margin-bottom: -11px;
  }
  .units {
    position: relative;
    font-size: 16px;
    top: -62px;
  }
  .units .active{
    color: black;
    text-decoration: none;
    cursor: default;
  }
  .units .active:hover{
    text-decoration: none;
    cursor: default;
    
  }
  #icon{
    height: 120px;
    width: 120px;
margin-bottom: 25px;
margin-right: 68px;

  }
  .forecast-weather{
    text-align: center;
    padding: 5px;
   
  }
  .forecast-weather .item{
   padding: 5px;
   margin: 5px;
   
  }
  .forecast-weather img{
    height: 40px;
    width: 40px;

  }
  .forecast-weather .day{
    opacity:0.67;
    font-size: 20px;
  }
  .forecast-temp{
    font-size: 17px;

  }
  .forecast-temp .min-temp{
    padding:5px;
    opacity:0.67;
  }

  .end{
    max-width: 600px;
    margin: auto;
    margin-top:40px;
    margin-left: 25px;

  }
  .enda{
    text-decoration: none;
    color: #f33939;
  }